/* variable declarations */
:root {
  --burnt-coffee: #363636;
  --dark-coffee: #66462f;
  --medium-coffee: #98694f;
  --light-coffee: #CA9E7B;
  --blonde-coffee: #F5EDDA;
  --default-font-size: 3vw;
}

/* reset margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* set every page to be in single column format */
body {
  background-color: var(--burnt-coffee);
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* landing page properties */
#landing_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo_image {
  max-width: calc(20 * var(--default-font-size));
}
#logo_image img {
  width: 100%;
}

#start {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  border-radius: 100px;
  padding: calc(var(--default-font-size));
  text-decoration: none;
  font-size: var(--default-font-size);
  background-color: var(--medium-coffee);
  color: var(--blonde-coffee);
  cursor: pointer;
}

.start_button{
  margin-top: calc(-.1 * var(--default-font-size))
}

.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.90;
}

.ghost_button {
  border-radius: 0;
  padding: 0;
  font-size: calc(.7 * var(--default-font-size));
  background-color: transparent;
  color: var(--blonde-coffee);
  margin: 15px 0 calc(2 * var(--default-font-size)) 0;
}

/* java features properties*/
#java_features {
  background-color: var(--dark-coffee);
  display: flex;
  align-items: center;
}

h2 {
  font-weight: bold;
  color: var(--light-coffee);
  font-size: calc(2 * var(--default-font-size));
  padding: calc(1.5 * var(--default-font-size)) 40px;
  text-align: center;
}

p {
  font-size: calc(.66 * var(--default-font-size));
  color: var(--blonde-coffee);
  width: 80%;
  margin: 0 auto;
  margin-bottom: calc(3 * var(--default-font-size));
}

#features_content {
  display: flex;
}

#features_image {
  min-width: 50vw;
  display: flex;
  justify-content: center;
}

#features_image img {
  object-fit: contain;
  width: 100%;
  max-height: 65vw;
}

/* from the team properties */
#from_the_team {
  display: flex;
  align-items: center;
}

#team_content {
  display: flex;
  align-items: center;
}

#slideshow_container {
  display: flex;
  align-items: center;
}

#team_slideshow {
  min-width: 50vw;
  align-self: center;
  clip-path: circle(30vw at 30%);
}

#team_slideshow img{
  width: 120%;
  object-fit: cover;
}

.slides {
  display: none;
  align-items: center;
  justify-content: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.next {
  cursor: pointer;
  color: grey;
  font-size: calc(3 * var(--default-font-size));
  z-index: 1000;
  margin-left: calc(-1 * var(--default-font-size));
}

.next:hover{
  color: var(--blonde-coffee);
  transition: color 1s;
}

#team_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contact_us {
  margin-bottom: calc(2 * var(--default-font-size));
}

/* main page navigation bar properties */
#mainPage_navigation {
  background-color: var(--dark-coffee);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navButton {
  text-decoration: none;
  color: var(--blonde-coffee);
  margin: calc(1.25 * var(--default-font-size));
  font-size: calc(1 * var(--default-font-size));
  text-align: center;
}

#mobile_navigation {
  position: fixed;
  background-color: var(--dark-coffee);
  top: 0;
  right: 0;
  height: 100vh;
}

#mobNav_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#topNav {
  justify-content: flex-start;
}

#centerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bottomNav {
  justify-content: flex-end;
}

.mobile_login {
  background-color: var(--burnt-coffee);
  padding-left: calc(2 * var(--default-font-size));
  padding-right: calc(2 * var(--default-font-size));
}


/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */
/* START OF MEDIA QUERIES */

@media screen and (max-width: 700px) {
  body {
    background-color: lightgreen;
  }
}
